{{ template "base" . }}
{{ define "title" }}RPS web - About{{ end }}
{{ define "content" }}
    
<section>
    <div class="container">
        <div class="row">
            <div class="col py-5 text-center">
                <h2 class="py-2">About Jichu20</h2>
                <p class="fw-bold">This is a simple Rock, Paper, Scissors game</p>
                <p class="fw-bold">Developed by jichu20</a>
                    <ul class="py-3">
                        <li><a href="https://github.com/jichu20">GitHub</a></li>
                    </ul>
            </div>
        </div>
    </div>
</section>

{{ end }}